/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    background-color: #ECECEC;
 }
  nav {
    justify-content: center;
    display: flex;
    font-size: 14px;
    gap: 15px;
    width: 1012px;
    margin: 0 auto;
    padding: 5px;
    background:white;
    box-shadow: 2px 2px 10px #0000001a;
    border-radius: 5px;
  }
  nav a {
    display: inline-block;
    padding: 10px 56px;
    border: 1px solid #505050;
    font-size: 14px;
    border-radius: 5px;
  }
  nav a:hover{
    color: #f5752a;
  }
  .button-index{
    padding: 10px 56px;
    border: 1px solid #505050;
    font-size: 14px;
    border-radius: 5px;
    margin-right:5px;
  }
  main {
    width: 1024px;
    margin: 0 auto;
  }
  
  .notice {
    color: green;
  }
  
  section.product {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    background:white;
    box-shadow: 2px 2px 10px #0000001a;
    padding:15px;
    border-radius: 10px;
  }
  
  section.product img {
    border-radius: 8px;
    flex-basis: 50%;
    max-width: 50%;
  }
  .title-themsanpham{
    text-align: center;
  }
  .form-themsanpham {
    align-content: center;
    width: 70%;
    height: auto;
    line-height: 25px;
    margin: 0 auto;
    font-size: 16px;
    background: white;
    padding: 16px;
    border-radius: 10px;
    margin-top:20px;
    box-shadow: 2px 2px 10px #0000001a;
  }
  .form-themsanpham a {
    background: #5CC0DC;
    border-radius: 10px;
    padding: 10px 35px 10px 35px;
    line-height: 50px;
    width: 100%;
  }
  .form-themsanpham input{
    width:99%;
    height:22px;
  }
  .capnhatsanpham input{
    width:100%;
  }
  .capnhatsanpham {
    line-height: 50px;
}
.sanphamtrangchu {
  display: flex;
  gap:18px;
  background: white;
  padding:14px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.sanphamtrangchu img {  
  width: 210px;
  height: 200px;
}
.box-sp {
  padding: 10px;
  background: white;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  border-radius: 10px;
}
.box-sp:hover {
  box-shadow: 2px 2px 20px #0000002b;
}
.tensp-trangchu {
  padding: 10px 0px 0px 0px;
  font-size: 20px;
  font-weight: 600;
}
div#products {
  background: white;
  box-shadow: 2px 2px 10px #0000001a;
  padding:14px;
  border-radius: 10px;
  margin-top:20px;
  line-height: 25px;
}
.themsanphammoi {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  display: flex;
  justify-content: center;
  width: 150px !important;
  margin: 10px 0px 10px 15px;
}
.themsanphammoi a{

}
.themsanphammoi:hover {
  background:#bfbfbf ;
  color:white;
}
.box-sp img {
  height: auto;
  border-radius: 5px;
}
.body-trangchu {
  background: white;
  padding: 11px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.body-trangchu h1 {
  margin: 10px 10px 16px 0px;
  text-align: center;
  font-size:35px;
}
section.product-info {
  width: 100%;
  box-shadow: 2px 2px 10px #0000001a;
  border-radius: 10px;
  padding: 10px;
}
section.product img {
    box-shadow: 2px 2px 10px #0000001a;
}
.login-trangchu {
    width: 50%;
    height: auto;
    line-height: 30px;
    font-size: 18px;
    background: white;
    /* padding: 0px 20px 16px 16px; */
    border-radius: 5px;
    box-shadow: 2px 2px 10px #0000001a;
    margin: 30px auto;
}
.login-trangchu h1 {
  text-align: center;
  background: #3294C9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  margin-bottom: -8px;
  color: #c3e7ee;
}
.login-trangchu input{
  width:99%;
  height:22px;
}
.login-trangchu input[type="submit"]{
  width: 100%;
  background: #3294C9;
  border-radius: 2px;
  border:none;
  margin-top:10px;
  }
  .login-formdangnhap {
    padding: 15px;
}
.login-formdangnhap p {
  font-size: 14px;
  line-height: 0;
}
  .login-trangchu h2{
    text-align: center;
    font-size: 50px;
  } 
  .login-trangchu a{
    text-align: right;
    font-size: 10px;
  }
  .product-info h1{
    text-align: center  ;
  }
  .lienhe-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap:15px;
}
.lienhe-product a {
  background: #46b3ea;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}
.xoaproduct {
  background: #ec7b7b;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}
.back-product{
  display: flex;
    align-items: center;
    justify-content: center ;
}
.back-product a {
  background: #FF9800;
  color: white;
  display: block;
  text-align: center;
  width: 40%;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
}