<div class = "body-trangchu">
<h1>Sản phẩm</h1>

<div class = "themsanphammoi">
<%= link_to "New product", new_product_path %>
</div>


<div class = "sanphamtrangchu">
  <% @products.each do |product| %>
      <div class="box-sp">
        <%= link_to image_tag(product.featured_image, alt: product.name), product_path(product) if product.featured_image.attached? %>
        <div class = "tensp-trangchu">
          <%= link_to product.name, product %>
        </div>
        <p>Nội dung: <span><%= product.description %> </span></p>
      </div>
  <% end %> 
</div>